# ignore executable files
bin/debug/*
bin/release/*
bin/test/*

# ignore library files
lib/debug/*
lib/release/*

# ignore auto generated module files
src/problem.rs

# ignore attachment files
files/*.txt
