#[link(name = "euler",
       vers = "0.0",
       url  = "https://github.com/gifnksm/ProjectEulerRust")];

#[comment = "Utility library for solving Project Euler"];
#[crate_type="lib"];

extern mod std;

#[warn(non_camel_case_types)]
mod extcmp;
#[warn(non_camel_case_types)]
mod extnum;
#[warn(non_camel_case_types)]
mod extvec;
#[warn(non_camel_case_types)]
mod arith;
#[warn(non_camel_case_types)]
mod calc;
#[warn(non_camel_case_types)]
mod prime;
#[warn(non_camel_case_types)]
mod monoid;
#[warn(non_camel_case_types)]
mod biguint;
#[warn(non_camel_case_types)]
mod bigint;
