#[link(name = "euler",
       vers = "0.0",
       url  = "https://github.com/gifnksm/ProjectEulerRust")];

#[comment = "Utility library for solving Project Euler"];
#[crate_type="lib"];

extern mod std;

pub mod bounded;
pub mod extcmp;
pub mod extnum;
pub mod extvec;
pub mod arith;
pub mod calc;
pub mod prime;
pub mod monoid;
pub mod biguint;
pub mod bigint;
pub mod reader;
